* {
	box-sizing: border-box;
}
body {
	width: 100vw;
	padding: 1em;
}
main {
}
.card {
	border: 1px solid rgb(8, 1, 1);
 	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
}
.card__item {
	border: 1px solid rgb(8, 1, 1);
	flex: 0 1 auto;
	/* width: 33.33%; */
	margin: 0.5em;
	width: calc(100% / 3 - 1em);
}
.card__image {
	border: 1px solid rgb(8, 1, 1);
	margin: 1em;
}
img {
	width: 100%;
	display: block;
}
.card__title {
	border: 1px solid rgb(8, 1, 1);
	margin: 1em;

}
.card__subtitle {
	border: 1px solid rgb(8, 1, 1);
	margin: 1em;
}