* {
	box-sizing: border-box;
}
body {
	padding: 1em;
}
.card {
	border: 1px solid rgb(8, 1, 1);
 	display: flex;
	flex-wrap: wrap;
	padding: 1em;
	gap: 1em;
	
}
.card__item {
	border: 1px solid rgb(8, 1, 1);
	flex-basis: 30%;
	flex-grow: 1;
}
.card__image {
	border: 1px solid rgb(8, 1, 1);
	margin: 1em;
}
img {
	width: 100%;
	display: block;
}
.card__title {
	border: 1px solid rgb(8, 1, 1);
	margin: 1em;

}
.card__subtitle {
	border: 1px solid rgb(8, 1, 1);
	margin: 1em;
}